<div class="relative bg-cover bg-center h-[calc(100vh-134px)] flex items-center justify-center text-black" style="background-image: url('/path/to/top.jpg');">
  <div class="text-center">
    <h1 class="text-5xl font-bold drop-shadow-lg md:text-4xl sm:text-3xl">
      DESK TOUR APP
    </h1>
  </div>
</div>