<% if object.errors.any? %>
<div class="container mx-auto mt-4 px-4">
    <div class="border-l-4 p-4 mb-4 bg-red-100 border-red-500 text-red-700 rounded-md">
    <ul class="mb-0">
        <% object.errors.each do |error| %>
        <li class="list-disc ml-5"><%= error.full_message %></li>
        <% end %>
    </ul>
    </div>
</div>
<% end %>