<%= link_to root_path, class: "navbar-brand" do %>
      トップページへ
<% end %>

<button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class="navbar-toggler-icon"></span>
</button>


<%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>