<header class="bg-white shadow-md py-4 px-6 flex justify-between items-center">
    <div class="flex items-center space-x-6">
        <%= link_to 'DESK TOUR', root_path, class: "text-lg font-bold text-gray-800 hover:text-blue-500 transition" %>
    </div>
    <div class="flex items-center space-x-4">
        <%= link_to 'ログアウト', logout_path, class: "text-gray-600 hover:text-blue-500 transition", data: { turbo_method: :delete }  %>
    </div>
</header>