<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @desks.present? %>
          <%= render @desks %>
        <% else %>
          <div class="mb-3">投稿されたデスクがありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>